<%- include("./blocks/nav.ejs") %>
<br><br><br><br>
<div class="container">
    <div class="jumbotron bg-dark text-white">
        <h1 class="err">404</h1>
        <hr class="err-hr">
        <p id="err">Looks like you're lost.</p>
        <center><button onclick="redirect('/')" class="btn btn-primary btn-lg">Home</button></center>
    </div>
</div>

<%- include("./blocks/footer.ejs") %>