<script>
    function redirect(path) {
        return location.href = path ? path : "/";
    }
</script>

<div class="container">
    <footer>
        <div class="jumbotron bg-secondary text-white">
            <center><h2>Rest API Example</h2></center>
        </div>
    </footer>
</div>

</body>
</html>